[Unit]
Description=A system to send AI generated art to an E-Paper display through a Raspberry PI unit
After=network.target

[Service]
User=root
WorkingDirectory=${HOME}/chaaipyia/
ExecStart=dbus-run-session -- bash ${HOME}/chaaipyia/scripts/run.sh
Type=idle
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
